/*Much of this is from: https://jgthms.com/web-design-in-4-minutes/*/

@import 'https://fonts.googleapis.com/css?family=Open Sans Mono:300,400,500';
@import 'https://fonts.googleapis.com/css?family=Open Sans:300,400,500';
body{
   /*Adapt font-color and font-family*/
   color: lightgray;
   font-family: "Open Sans", sans-serif;
   /*Background gradient*/
   background-image: linear-gradient(to bottom right, darkslategray, #111);
   /*Enforce a single gradient and make it full screen*/
   background-attachment: fixed;
   /*Center the text and add a margin*/
   margin: 0 auto;
   max-width: 50em;
   /* Improve the font-spacing */
   line-height: 1.75;
   padding: 4em 1em;
}

h1,
h2 {
font-family: "Open Sans Mono", monospace;
color: white;
}

strong {
color: white;
font-weight: bold;
}



code {
  padding: 2px 4px;
  vertical-align: text-bottom;
  font-weight: bold;
}


img { 
   filter: opacity(100%); 
   border-radius: 8px;
   border: .001em solid white;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
} 


h2 {
  margin-top: 1em;
  padding-top: 1em;
}

a {
  color: pink;
  text-decoration: none
}

a:hover{
text-decoration: underline;
}


footer {
text-transform: uppercase;
padding-top: 10em;
padding-bottom: 1em;
opacity: 0.6;
font-size: smaller;
text-align: center;
}
