

body {
	margin: 0 auto;
	bottom: 0;
    color: black;
	}

/* Normal font color */
body, footer {
	font-family: Roboto, sans-serif;
	line-height: 1.5;
}

/* Dark font color */
strong, header, h1, h2, h3, nav ul li a{
    font-family: 'Roboto', sans-serif;


}

nav ul li a:link, nav ul li a:visited, nav ul li a.active-page, nav ul li a:hover, div.transbox  {
    font-family: 'Roboto', sans-serif;
    color: white;
}


/* HEADER AND FOOTER */
.leftText ul{
    font-family: 'Roboto', sans-serif;
	display: inline-block;
    list-style-type: none;
  	position: absolute;
    bottom: 0%;
    left: 0%;
   	font-size: 80%;
	padding-bottom: 5.5px;

}


.leftText ul li a, .leftText ul li a:hover, .leftText ul li a:link, .leftText ul li a:visited {
	text-decoration: none;
	color: white;
	padding: 0px;
}

.leftText ul li a:hover {
	text-decoration: none;
	color: #0d7171;
	}




/* NAVIGATION BAR */
nav ul {
    display: inline-block;
    list-style-type: none;
  	position: absolute;
    bottom: 0%;
    right: 0%;
	font-size: 100%;
}

nav ul li {
	float: left;
	padding-right: 30px;
}

nav ul li a, nav ul li a.active-page, nav ul li a:hover, nav ul li a:link, nav ul li a:visited {
	text-decoration: none;
	text-transform: none;
	color: white;
	font-size: 80%;
	border-bottom: .1em solid transparent;
	padding: 10px;
}

nav ul li a.active-page{
	text-transform: none;
	color: white;
	border-bottom: .075em solid white;
}

nav ul li a:hover{
	text-transform: none;
	color: white;
	border-bottom: .1em solid white;
}

.headerTitle{
    font-family: 'Roboto', sans-serif;
	font-size: 120%;
}


.headerText{
    font-family: 'Roboto', serif;
	font-size: 90%;
	padding: 15px;
	color: inherit;
	font-style: italic;
}


.titletext {
    float: left;
	display: block;
	text-decoration: none;
	color: inherit;
	font-size: x-large;
	padding: 10px;
	font-style: italic;
}



header{
	font-size: 24px;
	height: 50%;
    background-image: linear-gradient(320deg, rgb(30, 30, 30), rgb(100, 180, 250));
	text-align: center;
	background-position: bottom right; 
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    box-shadow: 0 .0125em .0125em 0 #111, 0 .0125em .0125em 0 #111;
}

 body, html {
    height: 100%;
}



div.transbox {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




h2, h3 {
	font-size: 120%;
	padding-top: 25px;
	padding-bottom: 5px;
	font-weight: bold;
}

h1{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 150%;
	font-weight: bold;

}

strong {
 font-weight: 400;  
}

a:visited, a:link {
    text-decoration: bold;
    color: #0d7171;
} 

a.header:hover {
    text-decoration: none;
} 

img { 
	  filter: opacity(100%); 

  border-radius: 8px;
  border: .001em solid gray;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
} 




th,
td {
  padding: 15px;
}


img:hover { 
	  filter: opacity(90%); 

}

a:hover {
text-decoration: underline;
color: #0d7171;
}


sup {
vertical-align: super;
size: large;
} 






footer {
text-transform: uppercase;
padding-top: 1em;
padding-bottom: 1em;
opacity: 0.6;
font-size: smaller;
text-align: right;
}

footer:hover {
    opacity: 1.0;
}


a.footer{
	padding-right: 1em;
	
}

a.footer:hover{
	color: #0d7171;
}

pre {
  background-color: #EEE; 
  color: black; 
  border-left: 0.25em solid #00BFFF;
  font-family: "Courier New", Courier, monospace; 
  margin: 0em 0em 0em 0em; /* top right bottom left */
  padding: 0.5em 1em 0.5em 1em;
}


.wrapper {
  padding-top: 20px;
  width: 45%; /* 20px smaller, to fit the paddings on the sides */
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

