
/* GENERAL */

body {
	width: 50%;
	margin: 0 auto;
	text-align: left;
	padding-top: 1em;
	padding-bottom: 1em;
	}

body, nav ul li a, header, footer, h1, h2, h3{
	font-family: 'Quicksand', sans-serif;
	font-weight: 400; 
}

/* Normal font color */
body, nav ul li a:link, nav ul li a:visited, nav ul li a.active-page, nav ul li a:hover {
	color: #555;
}

/* Dark font color */
header, strong, h1, h2, h3 {
	color: #333;
}


/* HEADER AND FOOTER */


/* NAVIGATION BAR */
nav {
	position: center;
	margin: 0em 0em;
}

nav ul {
	list-style: none;
	margin: 0em 0em;
	padding: 0em 0em;
	display: block;
}

nav ul li {
	width: 20%; 
	float: left;
	text-align:center;
	padding-bottom: 10px;
}

nav ul li a {
	display: block;
	text-decoration: none;
	padding-bottom: 12px;
	padding-top: 12px;
	border-bottom: .1em solid white ;
	border-top: .1em solid white ;
	border-left: .1em solid white ;
	border-right: .1em solid white ;
	background-color: none;
	text-transform: uppercase;
}

nav ul li a:link, nav ul li a:visited {
	background-color: white;
	display: block;
}


nav ul li a.active-page, nav ul li a:hover{
	border-top: .1em solid #555 ;
	border-bottom: .1em solid #555 ;
	border-left: .1em solid #555 ;
	border-right: .1em solid #555 ;
	background-color: none;
	text-decoration: none;
}

nav ul li a.active-page{
	text-transform: uppercase;
}

nav ul li a:hover{
	background-color: #F8F8F8;
}
header{
	font-size: 28px;
	padding-top: 120px;
	padding-bottom: 0px;
	margin-bottom: 10px;
	text-align: center;
	background: url('libby.jpeg');
	background-size: cover;
	background-position: bottom; 
	border: 1px solid #555;
}



div.transbox {
	margin: 0px;
	padding-top: 6px;
	padding-bottom: 4px;
	background-color: #F8F8F8;
	border: 1px solid #555;
	opacity: 0.8;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}

header:hover {
	opacity: 0.90;
	text-decoration: none;
}



h1, h2, h3 {
margin-top: 0.2em;
padding-top: 0.2em;
}

strong {
 font-weight: 500;  
}


a:visited, a:link {
    text-decoration: none;
    color: #CC0066;
} 

a.header:hover {
    text-decoration: none;
} 

img { 
  opacity: 1.0; 
} 

img:hover { 
  opacity: 0.9; 
}

a:hover {
text-decoration: underline;
color: #CC0066;
background-color: none;
}


sup {
vertical-align: super;
size: large;
} 



footer {
text-transform: uppercase;
padding-top: 1em;
padding-bottom: 1em;
opacity: 0.6;
font-size: small;
text-align: right;
}

footer:hover {
    opacity: 1.0;
}


a.footer{
	padding-right: 1em;
	color: white;
}

a.footer:hover{
	color: #CC0066;
}








.accordion {
  background-color: white;
  color: #777;
  cursor: pointer;
  border: none;
  outline: none;
}


.accordion:hover {
  color: #CC0066;
}


.active:after {
overflow: hidden;
  color: black;
}

.panel {
	text-transform: none;
	transition: 0.5s;
	text-align: right;
	padding: 0em 0em;
	padding-right: 1em;
	max-height: 0;
	overflow: hidden;
	background-color: white;
	font-size: large;
	color: #555;
}


 .btn-group button {
  float: right; /* Float the buttons side by side */
}



