@import 'https://fonts.googleapis.com/css?family=Fjalla+One';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Oswald';

nav {
  position: center;
  margin: 0em 0em;
}
nav ul {
  list-style: none;
  margin: 0em 0em;
  padding: 0em 0em;
  line-height: 1.5;
  display: block;
  }
nav ul li {
  width: 25%; 
  float: left;
  text-align:center;
  padding-bottom: 20px;
}
nav ul li a {
  display: block;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  padding-bottom: 12px;
  border-bottom: 1px solid #999;
  padding-top: 12px;
  border-top: 1px solid #999;

}
nav ul li a:link, nav ul li a:visited {
    background-color: white;
    display: block;
    color: #999;
}
nav ul li a.active-page{
    text-transform: uppercase;
  color: #333 ;
  border-bottom: 1px solid #333 ;
  border-top: 1px solid #333 ;

  }
nav ul li a:hover{
  text-transform: uppercase;
  color: #0052A3 ;
  border-bottom: 1px solid #0052A3 ;
  border-top: 1px solid #0052A3 ;
  font-weight: normal;
  }



body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #666;
  text-align: justify;
  padding-top: 1em;
  padding-bottom: 1em;

}



h1 {
  color: #333;
  font-family: "Oswald", sans-serif;
  margin-top: 0.5em;
  padding-top: 0.5em;
}


h2 {
  color: #333;
  font-family: "Oswald", sans-serif;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

strong {
  color: #555 ;
}


a:visited, a:link {
    text-decoration: none;
      color: #3366CC;


} 

img { 
  opacity: 0.9; 
} 

img:hover { 
  opacity: 1; 
}

a:hover {
  text-decoration: none;
      color: #3399FF;
      background-color: none;

}

 sup {
    vertical-align: super;
    size: large;
} 


footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 5em;
  text-align: center;
  font-size: 13px;
  color: #777;
}


